[mysqld]

server-id               = 1                       # indentical for server ID
log-bin                 = "mysql-bin"             # bin log prefix
relay-log               = "mysql-relay-log"       # relay log for replication
bind-address            = 0.0.0.0                 # bin port, because MySQL bind to localhost by default
port                    = 13306                   # change listening port to 13306